{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Junkie
    </title>
</head>
<body>
    <img src="{% static '/images/logo.png' %}" id="logo" alt="cofee_logo">
    <h3>Coffee Junkie</h3>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="numbers">Numbers</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
    <img src="{% static 'images/background.jpg' %}" width="100%" alt="cofee beans">
    <br>
    <h1>Featured products</h1>
    <br>
    <br>
    <br>  
    
    <!-- house blend -->
    {% for pro in pros %}
        <h2>{{pro.name}}</h2>
        <img src="{{pro.img.url}}" alt="house blend">
        <p style="width: 50%">{{pro.desc}}
        </p> 
        <h3><a href="https://en.wikipedia.org/wiki/Frappuccino" target="blank">Details</a></h3>
        <br>
        <br>
    {% endfor %}






        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>copyright&copy;2020</p>
        <a href="#logo">Back to top</a>
    </body>
</html> 