{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers
    </title>
</head>

<body>
    <img src="{% static '/images/logo.png' %}" id="logo" alt="cofee_logo">
    <h3>Coffee Junkie</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="numbers">Numbers</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
    <img src="{% static 'images/background.jpg' %}" width="100%" alt="cofee beans">
    <br>
    <h1>Our Stores</h1>
    <table style="border: 2px solid black; border: spacing 25px;">
    <!-- city -->
        <tr>
            <th>City</th>
            <th>New york</th>
            <th>Los Angeles</th>
        </tr>
        <!-- end of city -->
        <!-- oders -->
        <tr>
            <td>Oders</td>
            <td>125</td>
            <td>250</td>
            <td>500</td>
        </tr>
        <!-- end of oders -->
        <!-- profit -->
        <tr>
            <td>Profit</td>
            <td>$ 10,000</td>
            <td>$ 25,000</td>
            <td>$ 50,000</td>
        </tr>
        <!-- end of profit -->
    </table>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>copyright&copy;2020</p>
    <a href="#logo">Back to top</a>
</body>

</html>